*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #add8e6;
}

.janelinha{
    display: flex;
    padding-top: 3.75rem;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    margin: 3rem auto;
    background-color: azure;
    width: 50%;
    min-height: 400px;
}

.escondido{
    display: none;
}

.exito{
    color: rgba(0, 0, 0, 0.623);
    margin-top: 10px;
}

.erro::before{
    content:"Erro:";
    color: red;
}

.erro{
    margin-top:10px
}

.Banner{
    width: 80%;
    height: 50px;
    margin:1rem auto;
    border-radius: 10px;
    background-color: azure;
}